
{% extends "layouts/base.html" %}
{% block titulo %}Acerca de{% endblock  %}
{% block contenedor %}

<h3>Quienes somos</h3>
<div>
    <p><span style="text-decoration: underline;"><strong>NUESTRA MARCA</strong></span></p>
    <p>En <strong>Libreria.com.bo </strong>puedes encontrar libros, material de oficina, escolar, artístico o materiales
        en general.</p>
    <p>Queremos facilitar la tarea de tus hijos, ayudar a que tu oficina sea la más completa y que los materiales que
        necesites para la Universidad sea algo de lo que no tengas que preocuparte, todo esto para que puedas
        enfocarte en tu objetivo principal: <strong>CREAR</strong>.</p>
    <p><span style="text-decoration: underline;"><strong>MISIÓN Y VISIÓN</strong></span></p>
    <p><b>MISIÓN</b></p>
    <p>Impulsar el proceso creativo de los Bolivianos en todas sus facetas, facilitando el proceso de compra de
        materiales de manera ágil y transparente.</p>
    <p><strong>VISIÓN</strong></p>
    <p>Ser la papelería y librería virtual más completa del país, a través de una plataforma digital integrada,
        convirtiéndonos en un aliado durante el proceso creativo de los Bolivianos.</p>
    <p><span style="text-decoration: underline;"><strong>PILARES FUNDAMENTALES</strong></span></p>
    <p><strong>CREATIVIDAD</strong></p>
    <p>Ser el aliado en tu proceso creativo a través de todos los materiales que
        necesitas para tu próxima creación con un catálogo amplio y variado.</p>
    <p><strong>EMPATÍA</strong></p>
    <p>Ayudar a todos los usuarios de distintos rubros, desde actividades escolares, universitarios, oficinistas,
         artistas y todos aquellos que utilicen
        la imaginación para crear.</p>
</div>

{% endblock  %}