.cabecera{
    height: 100px; /*altura*/
    background-color: rgb(22, 59, 118);/*color del fondo*/
    color: white;
    font-weight: bold; /*negrilla*/
    line-height: 100px;
    padding-left: 30px; /*magen interno inzquierdo*/
    font-size: larger; /*tamaño de texto(fuente)*/
}
.barra{
    height: 30px; /*altura*/
    background-color: rgb(212, 219, 222);/*color del fondo*/
    line-height: 30px;/*centrar verticalmente*/
    padding-left: 10px; /*magen interno inzquierdo*/
}
.opciones{
    display: initial;
    padding-left: 8px;

}
.enlaces{
    color: rgb(158, 153, 141);
    text-decoration: none;

}
.enlaces.hover{
    color: antiquewhite;
    font-weight: bold;
}