.cabecera{
    height: 100px; /* altura*/
    background-color: rgb(23, 50, 94); /* fondo de color*/
    color: white;
    font-weight: bold; /* Negrita*/
    line-height: 100px;
    padding-left: 30px; /* margen interno izquierdo*/
    font-size: larger; /* tamaño de texto*/
}
.barra{
    display: flex;
    height: 30px; /* altura*/
    background-color: rgb(14, 34, 66); /* fondo de color*/
    line-height: 30px; /*centrar verticalmente*/
    padding-left: 10px; /* margen interno izquierdo*/
}
.opciones{
    display: inline;
    padding-left: 8px;
}
.enlaces{
    color: rgb(227, 218, 218);
    text-decoration: none;
}

.enlaces:hover{
    color: white;
    font-weight: bold;
}