{% extends "layouts/base.html" %}
{% block titulo %}Inicio de Sesión{% endblock  %}
{% block contenedor %}

{% load crispy_forms_tags %}

<br>    
<div class="card mx-auto" style="width: 30rem;">
    <div class="card-header">
        <h3>Inicio de Sesión</h3>
    </div>
    <div class="card-body">
        <form action="" method="post">
           {% csrf_token %} 
           {{ form | crispy}}
            <a href="{% url 'registro' %}">Registrame</a> &nbsp;
            <a href="{% url 'inicio' %}">Inicio</a>
            <input type="submit" value="Ingresar" class="btn btn-primary float-end">
        </form>
    </div>
</div>
        

{% endblock  %}
