{% extends "layouts/base.html" %}
{% block titulo %}Login{% endblock %}
{% block contenedor %}
{% load crispy_forms_tags %}

<br>
<div class="card mx-auto" style="width: 30rem;">
    <div class='card-header'>
        <h3>Iniciar sesión</h3>
    </div>
    <div class="card-body">
       <form acction="" method="post">
            {% csrf_token %}
            {{form | crispy}}
            <a href="">Registrarse</a>
            <a href="{% url 'inicio' %}">Inicio</a>
            <input type="submit" value="ingresar" class="btn btn-primary float-end"> 
       </form>
    </div>
</div>

{% endblock %}
